body{
  font-family: sans-serif;
  transition: all 0.5s ease;
  background-color: #f5f7f7;
}

h1{
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
}

ul {
 list-style-type: none;
 margin: 1px;
 padding: 1px;
 overflow: hidden;
 background-color: #f5f7f7;
}

li {
 float: left;
 border-right: 20px solid #f5f7f7;
}

/* Add a border to all( but not the last) list items */
li:last-child {
 border-right: none;
}

li a {
 display: block;
 color: black;
 text-align: left;
 padding: 15px 17px;
 text-decoration: none;
}

/* Links will change color when hovered over */
li a:hover {
 background-color: #a09f9f;
}

.active {
 background-color: #a09f9f;
}
